.ClassroomText {
  position: fixed;
  width: 74%;
  height: 25%;
  left: 12%;
  top: 0%;
}

.Option1 {
  position: fixed;
  width: 25%;
  left: 5%;
  bottom: 15%;
  z-index: 3;
}

.Option2 {
  position: fixed;
  width: 25%;
  left: 50%;
  bottom: 15%;
  z-index: 3;
}

.RightHighlight {
  position: fixed;
  width: 24.6%;
  height: 67.5%;
  left: 5.3%;
  bottom: 5.5%;
  z-index: 5;
}

.WrongHighlight {
  position: fixed;
  width: 24.6%;
  height: 67.5%;
  left: 51.3%;
  bottom: 5.5%;
  z-index: 5;
}

.text_lottie_container {
  width: 70%;
  height: 70%;
  position: fixed;
  left: 10%;
  bottom: 15%;
  z-index: 1;
}

.particles_lottie_container {
  position: fixed;
  left: 28%;
  top: 25%;
  width: 52%;
  height: 53%;
  z-index: 1;
}
.WellDone_lottie_container {
  bottom: 5%;
  position: fixed;
  right: 15%;
  width: 20%;
  z-index: 5564;
}
.option1_div {
  position: fixed;
  border-radius: 77pt;
  left: 7.5%;
  top: 40.4%;
  width: 23%;
  height: 40.5%;
  z-index: 4;
}

.option2_div {
  position: fixed;
  border-radius: 77pt;
  left: 53.5%;
  top: 40.4%;
  width: 23%;
  height: 40.5%;
  z-index: 4;
}

body {
  background: #000;
  margin: 0;
  padding: 0;
}
#fadeup,
.fadeup {
  -webkit-animation: fade 1s 1 forwards;
  animation: fade 1s 1 forwards;
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#fadeupText {
  -webkit-animation: fadeText 1.5s 1 forwards;
  animation: fadeText 1.5s 1 forwards;
}
@-webkit-keyframes fadeText {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeText {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.intro_Loading_screen {
  align-items: center;
  -webkit-animation: FadeUpnDown 3s infinite alternate;
  animation: FadeUpnDown 3s infinite alternate;
  color: #fff;
  display: flex;
  font-size: 10vw;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
}
@-webkit-keyframes FadeUpnDown {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes FadeUpnDown {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  -webkit-user-drag: none;
  font-family: Myriad !important;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.senses_txt_img {
  bottom: 10%;
  left: 5%;
  position: fixed;
  width: 55%;
}
.intro_Boy_container {
  bottom: 8%;
  position: fixed;
  right: 10%;
  width: 20%;
}
.play_btn {
  left: 65%;
  position: fixed;
  top: 78%;
  width: 8%;
  z-index: 999;
}
.next {
  right: 1%;
  width: 6%;
}

.next {
  bottom: 5%;
  position: fixed;
  z-index: 798787897;
}
.ReplayBTN {
  width: 5%;
  position: fixed;
  bottom: 5%;
  right: 48%;
  z-index: 798787897;
}
.mute_btn {
  bottom: 45%;
  cursor: pointer;
  left: 1%;
  position: fixed;
  width: 6%;
  z-index: 101010;
}
.mute_btn:active {
  border-radius: 50%;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.Scene2_lottie_container {
  bottom: 10%;
  height: 70%;
  left: 10%;
  position: fixed;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 25%;
}

.Questions {
  position: fixed;
  left: 34%;
  top: 5%;
  width: 35%;
}

.Questions_Text3 {
  height: 100%;
}
.Questions_text__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92%;
  bottom: 10%;
  left: 5%;
  position: fixed;
  height: 15%;
}

.Questions_Text {
  position: fixed;
  bottom: 0%;
  width: 92%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Questions_Img {
  width: 100%;
  height: 90%;
}

.forward {
  width: 3.5%;
  position: fixed;
  bottom: 2%;
  right: 20.2%;
  z-index: 798787897;
  cursor: pointer;
}

.backward {
  width: 3.5%;
  position: fixed;
  bottom: 2%;
  left: 11.5%;
  z-index: 798787897;
  cursor: pointer;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.skip {
  bottom: 2%;
  position: fixed;
  right: 21%;
  width: 4%;
  z-index: 798787897;
}
.Scene4_txt_img {
  left: 30%;
  position: fixed;
  top: 15%;
  width: 45%;
}
.Scene7Chairs,
.scene5Txt {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.Scene7Chairs {
  height: 100%;
}
.Scene7_lottie_container_2 {
  bottom: 8%;
  left: 22.4%;
  position: fixed;
  width: 25%;
  z-index: 46546;
}
.Scene7_lottie_container_1 {
  bottom: 8%;
  position: fixed;
  right: 15.5%;
  width: 23%;
  z-index: 46546;
}
.Library_Text {
  position: fixed;
  width: 75%;
  height: 25%;
  left: 7%;
  top: 75%;
  z-index: 12;
}
.Library_ForeGround {
  left: 23%;
  position: fixed;
  top: 30%;
  width: 44%;
  z-index: 10;
}
.Scene8_lottie_container_1 {
  left: 36.5%;
  position: fixed;
  top: 32.5%;
  width: 18%;
  z-index: 15;
}
.Scene8_lottie_container_2 {
  left: 29.7%;
  position: fixed;
  top: 37.2%;
  width: 10%;
  z-index: 15;
}
.Scene8_lottie_container_3 {
  left: 50.3%;
  position: fixed;
  top: 39%;
  width: 10%;
  z-index: 15;
}
.Library_1_ForeGround {
  bottom: 0;
  height: 73%;
  left: -39px;
  position: fixed;
  width: 98%;
  z-index: 5;
}
.Library_1_Text {
  left: 26%;
  position: fixed;
  top: 25%;
  width: 46%;
  z-index: 6;
}
.Scene10_lottie_container_1 {
  bottom: 2%;
  position: fixed;
  right: 44%;
  width: 11%;
}
.Scene10_lottie_container_3 {
  position: fixed;
  right: 21.14%;
  top: 24.45%;
  width: 62%;
  z-index: 4;
}
.Scene10_lottie_container_2 {
  position: fixed;
  right: 21.17777%;
  top: 25.75%;
  width: 60%;
  z-index: 4;
}
.Scene10_container_1 {
  bottom: 0%;
  position: fixed;
  right: 20%;
  width: 17%;
}
.transition {
  position: fixed;
  left: 0%;
  top: -17%;
  width: 150%;
  z-index: 5046;
  /* background-color: rgb(0,0,108); */
}

.transition_bg {
  position: fixed;
  left: 0%;
  top: -15%;
  width: 150%;
  height: 122%;
  z-index: 5046;
  background-color: rgb(35, 35, 215);
}
.vendorWrapper {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.star-wrapper {
  position: fixed;
  top: 31%;
  right: 21%;
  width: 17%;
  display: flex;
  flex-direction: row;
}

.star-wrapper0 {
  align-items: center;
  border-radius: 25pt;
  display: flex;
  height: 8%;
  width: 89%;
  justify-content: space-evenly;
  z-index: 1;
  margin-left: -94%;
  margin-top: 5%;
}

.progress_bar {
  width: 100%;
  height: 100%;
}

#stars {
  width: 13%;
}
.star {
  -webkit-animation: tilt-n-move-shaking 0.75s ease-out;
  animation: tilt-n-move-shaking 0.75s ease-out;
}
@-webkit-keyframes tilt-n-move-shaking {
  0% {
    -webkit-transform: translate(0) rotate(5deg);
    transform: translate(0) rotate(5deg);
  }
  50% {
    -webkit-transform: translate(0) rotate(-10deg);
    transform: translate(0) rotate(-10deg);
  }
  to {
    -webkit-transform: translate(0) rotate(15deg);
    transform: translate(0) rotate(15deg);
  }
}
@keyframes tilt-n-move-shaking {
  0% {
    -webkit-transform: translate(0) rotate(5deg);
    transform: translate(0) rotate(5deg);
  }
  50% {
    -webkit-transform: translate(0) rotate(-10deg);
    transform: translate(0) rotate(-10deg);
  }
  to {
    -webkit-transform: translate(0) rotate(15deg);
    transform: translate(0) rotate(15deg);
  }
}

/* Ipad Mini */

.progress-bar-container {
  position: fixed;
  top: 1%;
  right: 1%;
  width: 25%;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.progress-bar-background {
}
.progress-bar-star-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -18%;
  width: 60%;
}
#progress-bar-stars {
  width: 20%;
}

.backwardButton {
  position: fixed;
  height: 12%;
  bottom: 1%;
  z-index: 1;
  left: 1%;
}
.forwardButton {
  position: fixed;
  height: 12%;
  bottom: 1%;
  z-index: 1;
  right: 1%;
}
.skipButton {
  position: fixed;
  height: 12%;
  bottom: 1%;
  z-index: 1;
  right: 1%;
}
